<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin</title>
  </head>

  <body>

    <div class="container">
      <%= form_for(:session, url: corporation_sessions_path, html: {class: "form-signin"}) do |f| %>
        <h2 class="form-signin-heading">Please sign in</h2>
         <%= f.label :email %>
         <%= f.email_field :email, class: 'form-control' %>

         <%= f.label :password %>
         <%= f.password_field :password, class: 'form-control' %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div> <!-- /container -->
  </body>
</html>
